<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<form>
    <div class="form-group">
        <label for="userName">账号：</label>
        <input type="text" class="form-control" id="userName" name="userName" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
        <label for="password">密码：</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>
    <div class="form-group">
        <label for="nickName">用户名：</label>
        <input type="text" class="form-control" id="nickName" name="nickName" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
        <label for="birthday">出生年日：</label>
        <input type="text" class="form-control" id="birthday" name="birthday" aria-describedby="emailHelp">
    </div>
    <button type="button" onclick="formSubmit()" class="btn btn-primary">Submit</button>
</form>

<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>
<script type="application/javascript">
    function formSubmit() {
        const data = {};
        const t = $('form').serializeArray();
        $.each(t, function () {
            data[this.name] = this.value;
        })

        $.ajax({
            url: "/account/create",
            type: "post",
            data: data,
            // dataType: "json",
            // contentType:"application/json",
            success: function (resp) {
                console.log(resp);
                // window.location = "/account/list"
            }
        })
    }
</script>
</body>
</html>