<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<form action="/account/create" method="post">
    <div class="form-group">
        <label for="userName">账号：</label>
        <input type="text" class="form-control" id="userName" name="userName" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
        <label for="password">密码：</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>
    <div class="form-group">
        <label for="nickName">用户名：</label>
        <input type="text" class="form-control" id="nickName" name="nickName" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
        <label for="birthday">出生年日：</label>
        <input type="text" class="form-control" id="birthday" name="birthday" aria-describedby="emailHelp">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>
</body>
</html>